*~
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1
src/**/*.o
src/**/Makefile
src/**/*.a
src/**/.deps
src/**/.clang_complete
src/**/*.dwo
src/parser/tiger_lexer.cc
src/parser/tiger_parser.cc
src/parser/tiger_parser.hh
src/parser/stack.hh
src/parser/position.hh
src/parser/location.hh
src/parser/bison-graph.gv
src/parser/bison-report.txt
src/driver/dtiger
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool
src/opts/.libs/
src/opts/libopts.la
src/opts/libopts_la-opts.lo
tests/3.execution/config.sh
tests/labs/config.py
__pycache__/

