.slider-container {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  height: auto;
  background-color: rgb(248, 248, 248);
  position: relative;
  overflow: hidden;
  display: flex;
}

.slider-container .circle {
  border-radius: 50%;
  position: absolute;
}

.slider-container .blue-1 {
  left: 50px;
  bottom: -20px;
  min-width: 280px;
  min-height: 280px;
  background-color: rgb(0, 0, 255, 0.1);
}

.slider-container .green-1 {
  bottom: 200px;
  left: 240px;
  min-width: 140px;
  min-height: 140px;
  background-color: rgba(0, 197, 0, 0.1);
}

.slider-container .orange-1 {
  bottom: 75px;
  left: 350px;
  min-width: 230px;
  min-height: 230px;
  background-color: rgba(255, 114, 0, 0.1);
}

.slider-container .blue-2 {
  top: 80px;
  right: 290px;
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(0, 0, 255, 0.1);
}

.slider-container .orange-2 {
  top: -50px;
  right: 60px;
  min-width: 270px;
  min-height: 270px;
  background-color: rgba(255, 114, 0, 0.1);
}

.slider-container .green-2 {
  top: 180px;
  right: 50px;
  min-width: 160px;
  min-height: 160px;
  background-color: rgba(0, 197, 0, 0.1);
}

@media (max-width: 1092px) {
  .green-2, .orange-2, .blue-2 {
    display: none;
  }
}

#slider {
  position: relative;
  width: 100%;
}

#slider img {
  object-fit: cover;
  object-position: 0 10%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s;
}

#slider img.active {
  opacity: 1;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: 1.4em;
  background-color: var(--color-secondary);
  border: 6px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 50%;
  color: var(--text-color-primary);

  transition: background-color 0.3s, color 0.3s;
}

#previous {
  transform: translate(-50%, -50%);
  left: 0;
}

#next {
  transform: translate(50%, -50%);
  right: 0;
}

@media screen and (max-width: 1111px) {
  #previous, #next {
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 2em;
  }

  #previous {
    border-radius: 0 50% 50% 0;
    border-left: none;
  }

  #next {
    border-radius: 50% 0 0 50%;
    border-right: none;
  }

}

@media screen and (max-width: 692px) {
  #slider img {
    width: auto;
    height: 100%;
  }
}

.slide-arrow:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}